body{
	background-image: url("../images/background2.jpg");
	font-family: 'Mirza', cursive;
}

.container {
	margin: 10px 50px 10px 50px;
	background-image: url("../images/background1.jpg");
	color: white;
}
#startButton, .testButtons, #playAgain, #summaryPage {
	font-size: 30px;
	background: none;
	color: white;
}
.jumbotron {
	background: none;
}
.pages {
	display: none;
}

.modal-content {
	background-image: url("../images/hubble.jpg");
	color: white;
	font-size: 30px;

}
.next-question{
	background-color: #696969;
	border-color: #696969;
}
.next-question:hover {
	background-color: grey;
	border-color: grey;
}
.timeFont{
	font-family: 'Exo', sans-serif;
	background-color: #696969;
	border-color: #696969;
	cursor: pointer;

}
.timeFont:hover {
	background-color: #696969;
	border-color: #696969;
}

